@font-face {
    font-family: "GoogleSans";
    src: url("./fonts/GoogleSans-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Poppins";
    src: url("./fonts/Poppins-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Poppins";
    src: url("./fonts/Poppins-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Poppins";
    src: url("./fonts/Poppins-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Poppins";
    src: url("./fonts/Poppins-SemiBold.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Volkhov";
    src: url("./fonts/Volkhov-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src: url("./fonts/Montserrat-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "OpenSans";
    src: url("./fonts/OpenSans-SemiBold.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}


/**
  Нормализация блочной модели
 */
*,
::before,
::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure, fieldset):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul,
  ol,
  dl
):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;

  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}


/**
  Упрощаем работу с изображениями и видео
 */
img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
  /**
    Убираем скачок интерфейса по горизонтали
    при появлении / исчезновении скроллбара
   */
  scrollbar-gutter: stable;
  /**
    Плавный скролл
   */
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Нормализация высоты элемента ссылки при его инспектировании в DevTools
 */
a:where([class]) {
  display: inline-flex;
}

/**
  Курсор-рука при наведении на элемент
 */
button,
label {
  cursor: pointer;
}

/**
  Убирает серую подсветку при тапе на мобильных устройствах (iOS/Android)
 */
button {
  -webkit-tap-highlight-color: transparent;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут fill со значением 'none' или начинается с 'url')
 */
:where([fill]:not(
  [fill="none"],
  [fill^="url"]
)) {
  fill: currentColor;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут stroke со значением 'none')
 */
:where([stroke]:not(
  [stroke="none"],
  [stroke^="url"]
)) {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Приведение рамок таблиц в классический 'collapse' вид
 */
:where(table) {
  border-collapse: collapse;
  border-color: currentColor;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

:root {
    --color-light: #FFFFFF;
    --color-dark: #212832;
    --color-pink: #DF6951;
    --color-light-pink: #FFF1DA;
    --color-dark-blue: #181e4b;
    --color-light-blue: #5E6282;

    --font-family-based: 'Poppins', sans-serif;
    --font-family-heading: 'GoogleSans', sans-serif;
    --font-family-footer: 'OpenSans', sans-serif;
    --font-family-accent: 'Volkhov', serif;
    --font-family-mono: 'Montserrat', sans-serif;

    --container-max-width: 1440px;
    --container-padding-width: 15px;
    --transition-duration: 0.3s;
}

body {
    background-color: var(--color-light);
    font-family: var(--font-family-based);
}

.container {
    max-width: calc(var(--container-max-width) + var(--container-padding-width) * 2);
    margin-inline: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.header {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
}

.main {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding-inline: 15px;
  flex-direction: column;
}

.header-nav {
  position: relative;
  z-index: 2;
  width: 100%;
  max-width: 1161px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  margin-top: 43px;
  padding-inline: 15px;
  box-sizing: border-box;
}

.header-nav-logo {
  width: 115px;
  height: 34px;
  position: relative;
}

.header-nav-logo-rect {
  position: absolute;
  margin-left: 72px;
  margin-top: 13px;
  z-index: 0;
}

.header-nav-logo-img {
  position: absolute;
  z-index: 1;
}

.header-nav-list{
  display: inline-flex;
  justify-content: space-between;
  gap: 57px;
  align-items: start;
}

.header-nav-menu {
  margin-left: 100px;
}

.header-nav-links {
  color: var(--color-dark);
  font-family: var(--font-family-heading);
  font-size: 17px;
  font-weight: 500;
  text-decoration: none;
  margin-top: 9px;
  transition-duration: var(--transition-duration);
}

.header-nav-links:hover {
  color: var(--color-light-blue);
}

.header-nav-actions {
  display: flex;
  justify-content: space-between;
  gap: 52px;
  align-items: start;
}

.header-nav-actions-button {
  width: 102px;
  height: 40px;
  background-color: var(--color-light-pink);
  border-radius: 5px;
  border: 1px solid var(--color-dark);
  font-family: var(--font-family-heading);
  font-size: 17px;
  font-weight: 500;
  color: var(--color-dark);
  cursor: pointer;
  transition-duration: var(--transition-duration);
}

.header-nav-actions-button:hover {
  background-color: var(--color-light-blue);
  color: var(--color-light-pink);
  border: 1px solid var(--color-light-blue);
}

.header-nav-sections-lang {
  width: 45px;
  height: 22px;
  font-family: var(--font-family-heading);
  font-size: 17px;
  font-weight: 500;
  color: var(--color-dark);
  cursor: pointer;
  transition-duration: var(--transition-duration);
  border: none;
  margin-top: 9px;
  transition-duration: var(--transition-duration);
  text-transform: uppercase;
  background-color: var(--color-light-pink);
}

.header-nav-sections-lang:hover {
  color: var(--color-light);
  background-color: var(--color-light-blue);
  border: 1px solid var(--color-light-blue);
  border-radius: 5px;
}

.header-main {
  position: relative;
  z-index: 2;
  width: 100%;
  max-width: 1201px;
  height: 764px;
  margin-top: 18px;
  display: flex;
  margin-left: 30px;
  padding-inline: 15px;
  box-sizing: border-box;
  
}

.header-main-content {
  display: flex;
  flex-direction: column;
  position: relative;
}

.header-main-h {
  display: inline-block;
  margin-top: 112px;
  font-weight: 700;
  font-size: 20px;
  color: var(--color-pink);
  text-transform: uppercase;
}

.header-main-h-decor {
  width: 100% ;
  max-width: 545px;
  height: 267px;
  margin-top: 32px;
}

.header-main-content-decore {
  position: absolute;
  margin-left: 259px;
  margin-top: -200px;
  z-index: 0;
}

.header-main-h2 {
  position: relative;
  font-family: var(--font-family-accent);
  font-weight: 700;
  font-size: 84px;
  color: var(--color-dark-blue);
  letter-spacing: -0.04em;
  line-height: 89px;
  word-wrap: break-word;
  z-index: 1;
}

.header-main-p {
  margin-top: 30px;
  width: 100%;
  max-width: 477px;
  height: 90px;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  color: var(--color-light-blue);
}

.header-main-actions {
  display: flex;
  justify-content: center;
  width: 379px;
  height: 60px;
  margin-top: 44px;
  gap: 38px;
  align-items: center;
}

.header-main-actions-button {
  width: 170px;
  height: 60px;
  border-radius: 10px;
  background-color: #F1A501;
  border: none;
  box-shadow: 0 20px 35px rgba(241, 165, 1, 0.15);
  font-family: var(--font-family-heading);
  font-weight: 500;
  font-size: 18px;
  color: var(--color-light);
  cursor: pointer;
  transition-duration: var(--transition-duration);
}

.header-main-actions-button:hover {
  background-color: var(--color-light);
  color: #F1A501;
  border: 1px solid #F1A501;
  box-shadow: 0 20px 40px rgba(241, 165, 1, 0.25);
}

.header-main-link {
  width: 165px;
  height: 52px;
  display: flex;
  gap: 21px;
  align-items: center;
  text-decoration: none;
}

.header-main-play-rect {
  display: inline-block;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background-color: var(--color-pink);
  box-shadow: 0 15px 30px rgba(223, 105, 81, 0.3);
  position: relative;
  z-index: 0;
  transition-duration: var(--transition-duration);
}

.header-main-play-rect:hover {
  background-color: #f8a08f;
  box-shadow: 0 15px 35px rgba(223, 105, 81, 0.4);

}

.header-main-play-img {
  position: absolute;
  margin-left: 22px;
  margin-top: -1px;
  z-index: 1;
}

.header-main-play-name {
  font-weight: 500;
  font-size: 17px;
  width: 92px;
  height: 26px;
  color: #686d77;
  transition-duration: var(--transition-duration);
}

.header-main-play-name:hover {
  color: var(--color-pink);
}

.header-main-img {
  width: 784px;
  height: 764px;
  position: absolute;
  margin-left: 415px;

}

.header-main-img-plane-left {
  margin-left: 135px;
  position:absolute;
  margin-top: 56px;
}

.header-main-img-plane-rigth {
  margin-left: 630px;
  position: absolute;
  margin-top: -661px;
  z-index: 0;
}

.header-decore {
  display: flex;
  position: absolute;
  z-index: 0;
  width: 100%;
  justify-content: space-between;

}

.services {
  width: 100%;
  max-width: 1228px;
  height: 100%;
  min-height: 525px;
  margin-top: 94px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.services-head {
  font-weight: 600;
  font-size: 18px;
  text-transform: uppercase;
  color: var(--color-light-blue);
}

.services-h {
  font-family: var(--font-family-accent);
  font-weight: 500;
  font-size: 50px;
  color: #14183e;
}

.categories {
  width: 100%;
  max-width: 1208px;
  height: 100%;
  min-height: 349px;
  display: flex;
  margin-top: 84px; 
  position: relative;
  z-index: 0;
}

.category {
  width: 308px;
  height: 349px;
  position: relative;
  z-index: 0;
}

.category-card {
  width: 190px;
  height: 227px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-inline: auto;
  margin-top: 5px;
  position: relative;
  z-index: 2;
  background-color: var(--color-light);
  transition-duration: var(--transition-duration);
}

.category-h {
  font-family: var(--font-family-footer);
  font-weight: 600;
  font-size: 20px;
  color: #1E1D4C;
  display: inline-block;
  margin-top: 29px;
}

.card-3 {
  margin-top: 2px;
}

.card-4 {
  margin-top: 11px;
}

.category-p {
  display: inline-block;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: var(--color-light-blue);
  margin-top: 15px;
  text-align: center;
  width: 181px;
  height: 78px;
}

.is-current {
  display: none;
  position: absolute;
  margin-top: 256px;
  z-index: 0;
  margin-left: -15px;
  transition-duration: var(--transition-duration);
}

.category:hover .category-card {
  width: 267px;
  height: 314px;
  border-radius: 36px;
  box-shadow: 0px 100px 80px rgb(0, 0, 0, 0.05);
  margin-top: 0px;
}

.category:hover .is-current {
  display: block;
}

.servises-decore {
  display: flex;
  width: 100%;
  justify-content: end;
  position: absolute;
  max-width: 1228px;
}

.top-selling {
  width: 100%;
  max-width: 1102px;
  height: 100%;
  min-height: 617px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 120px;
}

.subheading {
  font-weight: 600;
  font-size: 18px;
  color: var(--color-light-blue);
}

.destinations {
  margin-top: 60px;
  display: flex;
  gap: 40px;
  position: relative;
}

.destination {
  width: 315px;
  height: 457px;
  position: relative;
  border-radius: 24px;
  transition-duration: var(--transition-duration);
  box-shadow: 0px 100px 80px rgb(0, 0, 0, 0.02);
}

.destination:hover {
   box-shadow: 0px 100px 80px rgb(0, 0, 0, 0.05);
}
.destination-card {
  width: 315px;
  height: 130px;
  background-color: var(--color-light);
  position: absolute;
  margin-top: 327px;
  border-radius: 0px 0px 24px 24px;
  box-shadow: 0px 4px 4px rgb(0, 0, 0, 0.25);
}

.dest-card {
  display: inline-block;
  font-weight: 500;
  font-size: 18px;
  line-height: 124.5%;
  color:var(--color-light-blue);
  margin-left: 19px;
  margin-top: 27px;
}

.price {
  margin-left: 120px;
}

.dest-card-days{
  display: flex;
  margin-left: 22px;
  margin-top: 20px;
  gap:16px;
}

.dest-along {
  font-size: 16px;
  margin: 0;
}


.decore-selling{
  position: absolute;
  margin-left: 1060px;
  margin-top: 318px;
}



.book-a-trip{
  width: 100%;
  max-width: 1114px;
  height: 100%;
  min-height: 492px;
  margin-top: 186px;
  display: flex;
  justify-content: space-between;
}

.book-a-trip-main {
  max-width: 629px;

}

.heading-trip {
  text-transform: capitalize;
  max-width: 511px;
}

.values {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 395px;
  height: 289px;
  flex-wrap: wrap;
  margin-top: 47px;
}

.value {
  width: 395px;
  height: 64px;
  display: flex;
  align-items: center;
  gap: 23px;
}

.group-value {
  width: 47px;
  height: 48px;
  background-color: #F0BB1F;
  border-radius: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-value {
  width: 338px;
  display: inline-flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 9px;
}

.values-h {
  font-weight: 700;
  font-size: 16px;
  line-height: 124.5%;
  color:var(--color-light-blue);
}

.values-p {
  font-weight: 400;
  font-size: 16px;
  line-height: 124.5%;
  color:var(--color-light-blue);
}

.trip-2 {
  background-color: #F15A2B;
}

.trip-3 {
  background-color: #006380;
}


.book-a-trip-image {
  width: 485px;
  height: 489px;
  display: flex;
  justify-content: end;
  flex-direction: column;
  position: relative;
  z-index: 1;
}

.image-trip {
  width: 485px;
  height: 400px;
  position: relative;
  z-index: 0;
  border-radius: 26px;
  z-index: 1;
}

.trip-img-1 {
  width:370px;
  height: 400px;
  background-color: var(--color-light);
  border-radius: 26px;
  box-shadow: 0px 100px 80px rgb(0, 0, 0, 0.07);
  padding: 20px 30px;
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
}

.trip-heading {
  font-weight: 500;
  font-size: 18px;
  line-height: 124.5%;
  letter-spacing: 0.15;
  color: #000000;
  display: inline-block;
}

.trip-1 {
  margin-top: 26px;
}

.trip-p {
  font-weight: 500;
  font-size: 16px;
  line-height: 124.5%;
  letter-spacing: -0.005;
  color: #84829A;
  display: inline-block;
}

.trip-1-p {
  margin-top: 13px;
}

.options-trip-1 {
  width: 139px;
  height: 36px;
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}

.option-trip-1 {
  width: 36px;
  height: 36px;
  background-color: #F5F5F5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.trip-people {
  width: 157px;
  height: 25px;
  display: flex;
  justify-content: space-between;
}
.trip-people-p{
  align-self: flex-end;
}

.trip-people-heart {
  width: 320px;
  height: 25px;
  display: flex;
  justify-content: space-between;
  margin-top: 27px;
}

.trip-img-2 {
  width: 263px;
  height: 129px;
  border-radius: 18px;
  background-color: var(--color-light);
  position: absolute;
  z-index: 2;
  margin-top: 217px;
  margin-left: 207px;
  box-shadow: 0px 100px 80px rgb(0, 0, 0, 0.07);
}

.trip-to-rome {
  width: 180px;
  height: 51px;
  display: flex;
  margin-left: 20px;
  margin-top: 17px;
  gap: 12px;
}

.trip-to-rome-p {
  font-weight: 500;
  font-size: 14px;
  line-height: 124.5%;
  letter-spacing: -0.35;
  color: #84829A;
  display: inline-flex;
}

.trip-2-complete {
  width: 158px;
  height: 22px;
  display: flex;
  flex-direction: column;
  margin-top: 8px;
  margin-left: 82px;
  gap:10px;
}

.complete-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 124.5%;
  letter-spacing: -0.55;
  color: #000;
}

.trip-decore {
  width: 354px;
  height: 367px;
  margin-bottom: 100px;
  border-radius: 50%;
  background-color: #59B1E6;
  position: absolute;
  z-index: 1;
  opacity: 40%;
  box-shadow: 0 4px 4px rgb(0, 0, 0, 0.25);
  filter: blur(70px);
}



.testimonials {
  max-width: 1165px;
  width: 100%;
  min-height: 356px;
  height: 100%;
  margin-top: 200px;
  display: flex;
  justify-content: space-between;
}

.testimonials-main {
  width: 496px;
  height: 356px;
}

.subheading-testimonials {
  text-transform: uppercase;
  margin-top: 10px;
}

.testimonials-decore {
  width: 87px;
  height: 12px;
  margin-top: 98px;
  display: inline-flex;
  justify-content: space-between;
}

.testimonails-ellipse {
  width: 12px;
  height: 12px;
  background-color: #E5E5E5;
  border-radius: 50%;
}

.correct {
  background-color: #39425D;
}

.testimonials-decore-pag{
  width: 669px;
  height: 356px;
  position: relative;
}

.pagination {
  width: 541px;
  height: 279px;
}

.pagintastion-rect {
  width: 504px;
  height: 245px;
  box-sizing: border-box;
  padding: 33px;
  background-color: var(--color-light);
  border-radius: 10px;
  box-shadow: 0px 100px 80px rgb(0, 0, 0, 0.07);
  position: absolute;
  z-index: 1;
  margin-top: 34px;
  margin-left: 38px;
  display: flex;
  flex-direction: column;
}

.pagination-img {
  position: absolute;
  z-index: 2;
}

.pagination-p {
  display: inline-block;
  width: 402px;
  height: 96px;
  font-weight: 500;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-light-blue)
}

.pagination-name {
  display: inline-block;
  margin-top: 35px;
  font-weight: 600;
  font-size: 18px;
  color: var(--color-light-blue)
}

.pagination-location {
  display: inline-block;
  margin-top: 5px;
  font-weight: 500;
  font-size: 14px;
  color: var(--color-light-blue
  );
}

.pagination-2 {
  width: 502px;
  height: 232px;
  position: absolute;
  z-index: 0;
  background-color: var(--color-light);
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgb(0, 0, 0, 0.25);
  padding: 33px;
  box-sizing: border-box;
  margin-top: 123px;
  margin-left: 87px;
  display: flex;
  flex-direction: column;
}

.pagination-name-2 {
  margin-top: 130px;
}

.testimonials-vector{
  position: absolute;
  margin-left: 654px;
  margin-top: 140px;
}

.brands-logo {
  width: 100%;
  max-width: 1073px;
  height: 100%;
  min-height: 162px;
  display: flex;
  margin-top: 97px;
  align-items: center;
}

.brand-logo {
  width: 215px;
  height: 86px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  filter: grayscale(1);
  transition-duration: var(--transition-duration);
  justify-content: center;
}

.brand-logo:hover {
  transform: scale(1.1);
  filter: none;
  box-shadow: 0px 80px 80px rgb(0, 0, 0, 0.07);
}

.subscribe {
  width: 100%;
  max-width: 1337px;
  height: 100%;
  min-height: 490px;
  display: flex;
  justify-content: center;
  margin-top: 109px;
  position: relative;
}

.subscribe-section {
  max-width: 1170px;
  width: 100%;
  min-height: 407px;
  height: 407px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 16px;
  border-radius: 20px 129px 20px 20px;
  background-color: rgb(223, 215, 249, 0.2);
  position: relative;
  z-index: 2;
  overflow: hidden;
}

.subsctibe-text {
  display: inline-block;
  font-weight: 600;
  font-size: 33px;
  max-width: 859px;
  min-height: 108px;
  text-align: center;
  margin-top: 78px;
  line-height: 54px;
  color: var(--color-light-blue);
}

.subscribe-form {
  max-width: 626px;
  height: 65px;
  margin-top: 80px;
  gap: 29px;
  justify-content: space-between;
  display: flex;
  z-index: 1;
}

.subscribe-input {
  width: 421px;
  height: 68px;
  border-radius: 10px;
  border: none;
  background-color: var(--color-light);
  padding-left: 65px;
  font-family: var(--font-family-mono);
  font-weight: 400;
  font-size: 14px;
  color: #39425D;
  transition-duration: var(--transition-duration);
}

.subscribe-input:focus {
  border: none;
  box-shadow: 0px 4px 10px rgb(0, 0, 0, 0.25);
  outline: none;
}

.subscribe-input:hover {
  box-shadow: 0px 4px 10px rgb(0, 0, 0, 0.25);
}

.subscribe-input ::placeholder {
  font-family: var(--font-family-mono);
  font-weight: 400;
  font-size: 14px;
  color: #39425D;
}


.email-img {
  margin-top: 290px;
  margin-left: -540px;
  position: absolute;
}

.subscribe-button{
  width: 180px;
  height: 68px;
  border-radius: 10px;
  border: none;
  background-color: #FF7D68;
  font-family: var(--font-family-footer);
  font-weight: 600;
  font-size: 17px;
  color: var(--color-light);
  transition-duration: var(--transition-duration);
}

.subscribe-button:hover {
  box-shadow: 0px 4px 10px rgb(0, 0, 0, 0.25);
}

.email-decore-1 {
  position: absolute;
  align-self: flex-start;
  z-index: 0;
  opacity: 20%;
  margin-top: 110px;
}

.email-decore-2 {
  position: absolute;
  align-self: flex-start;
  z-index: 0;
  opacity: 20%;
  margin-left: 880px;
}

.tg {
  position: absolute;
  z-index: 3;
  margin-left: 1050px;
}

.subscibe-decore {
  position: absolute;
  align-self: flex-end;
  margin-left: 1189px;
  margin-top: 336px;
}

.footer {
 
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  padding-inline: 15px;
}

.footer-main {
  max-width: 1060px;
  min-height: 183px;
  display: flex;
  margin-top: 20px;
  gap: 80px;
}

.footer-jadoo {
  width: 207px;
  height: 133px;
}

.jadoo-small-text {
  display: inline-block;
  font-weight: 500;
  font-size: 13px;
  line-height: 124.5%;
  color: var(--color-light-blue);
  margin-top: 33px;
}

.footer-contacts {
  width: 474px;
  height: 153px;
  display: flex;
  justify-content: space-between
}

.footer-contact-block {
  width: 115px;
  height: 153px;
}

.footer-contact-heading {
  font-weight: 700;
  font-size: 21px;
  line-height: 124.5%;
  color: #000;
}

.footer-contact-list {
  margin-top: 33px;
}

.link-contanct-list {
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 124.5%;
  color: #6F727B;
  margin-bottom: 12px;
  transition-duration: var(--transition-duration);
}

.link-contanct-list:hover {
  color:var(--color-dark);
}

.footer-social {
  width: 177px;
  height: 45px;
  display: flex;
  justify-content: space-between;
}
 
.social-link {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: var(--color-light);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 2px 10px rgb(0, 0, 0, 0.1);
  transition-duration: var(--transition-duration);
}
.social-img {
  filter: brightness(0%);
}

.social-link:hover {
  background-image: url(./images/back.png);
}

.social-link:hover .social-img{
  filter: brightness(100%);
}

.social-link:hover .social-img-ok {
  filter: invert(100%);
}

.footer-discover {
  width: 214px;
  height: 76px;
  margin-top: 30px;
}

.discover-head {
  font-weight: 500;
  font-size: 20px;
  line-height: 124.5%;
  letter-spacing: 0.05;
  color: var(--color-light-blue);
}

.apps {
  width: 215PX;
  height: 35px;
  display: flex;
  gap: 7px;
  margin-top: 20px;
}

.apps-link {
  width: 107px;
  height: 35px;
  background-color: #000;
  border-radius: 17.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  transition-duration: var(--transition-duration);
}

.apps-link:hover{
  box-shadow: 0px 3px 30px rgb(0, 0, 0, 0.07);
}

.footer-copyrigth {
  display: inline-block;
  margin-top: 90px;
  font-weight: 500;
  font-size: 14px;
  line-height: 124.5%;
  color: var(--color-light-blue);
  margin-bottom: 90px;
}



@media (max-width: 1060px) {
  .header-nav {
    width: 100%;
    flex-wrap: wrap;
    row-gap: 15px;
  }

  .header-nav-menu {
    order: 1;
    flex-basis: 100%;
    margin-left: 0;
  }

 .header-main {
  flex-direction: column;
  align-items: center;
  height: auto;
  flex-wrap: wrap;

 }

 .header-main-img-plane-left {
  display: none;
 }
 .header-main-img-plane-rigth {
  display: none;  
 }

 .header-main-img-tourist {
  display: none;
 }

 .header-main-content {
  justify-content: center;
  flex-wrap: wrap;
 }

 .brands-logo {
  flex-wrap: wrap;
 }

 .subscribe{
  flex-wrap: wrap;
 }

 .subscribe-form {
  flex-wrap: wrap;
 }

 .subscribe-input {
  width: 150px;
 }

 .subscibe-decore, .email-decore-1, .email-decore-2, .email-img, .tg {
  display: none;
 }

 .footer-main {
  flex-wrap: wrap;
 } 

 .footer-contacts {
  flex-wrap: wrap;
 }
}


@media (max-width: 600px) {
  
  .header-main-h2{
    font-size:70px;
  }

  .book-a-trip{
      flex-wrap: wrap;
  }

  
   .testimonials {
    flex-wrap: wrap;
  }
}

@media (max-width: 505px) {
  .header-main-p{
    margin-top: 100px;
  }

  .header-main-content-decore{
    display: none;
 }

 .header-decore {
  display: none;
 }
 
 .categories {
  flex-wrap: wrap;
 }

 .destinations {
  flex-wrap: wrap;
}

.trip-img-2 {
  margin-left: 150px;
}


}

@media (max-width: 479px) {
  .header-nav {
    width: 100%;
  }

  .header-nav-list {
    flex-wrap: wrap;
    gap: 30px;
  }

  .header-nav-actions {
    gap: 15px;
  }
 .subscribe-input {
  width: 90px;
 }
}

@media (max-width: 388px) {

 .header-nav-action {
  flex-basis: 100%;
  margin-inline: auto;
 }


}

@media (max-width: 380px) {
 .header-nav {
  gap: 30px
 }
 .header-nav-actions{
  margin-inline: auto;
  }

  .header-nav-logo {
  margin-inline: auto;
 }  

 .header-main-h{
  margin-top: 200px;
 }
 }


@media (max-width: 342px) {
 .header-nav-logo {
  margin-inline: auto;
 }  
 .header-nav-action {
  margin-left: 0;
 }

}
