@font-face {
    font-family: "GoogleSans";
    src: url("./fonts/GoogleSans-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Poppins";
    src: url("./fonts/Poppins-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Poppins";
    src: url("./fonts/Poppins-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Poppins";
    src: url("./fonts/Poppins-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Poppins";
    src: url("./fonts/Poppins-SemiBold.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Volkhov";
    src: url("./fonts/Volkhov-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src: url("./fonts/Montserrat-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "OpenSans";
    src: url("./fonts/OpenSans-SemiBold.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}


/**
  Нормализация блочной модели
 */
*,
::before,
::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure, fieldset):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul,
  ol,
  dl
):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;

  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}


/**
  Упрощаем работу с изображениями и видео
 */
img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
  /**
    Убираем скачок интерфейса по горизонтали
    при появлении / исчезновении скроллбара
   */
  scrollbar-gutter: stable;
  /**
    Плавный скролл
   */
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Нормализация высоты элемента ссылки при его инспектировании в DevTools
 */
a:where([class]) {
  display: inline-flex;
}

/**
  Курсор-рука при наведении на элемент
 */
button,
label {
  cursor: pointer;
}

/**
  Убирает серую подсветку при тапе на мобильных устройствах (iOS/Android)
 */
button {
  -webkit-tap-highlight-color: transparent;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут fill со значением 'none' или начинается с 'url')
 */
:where([fill]:not(
  [fill="none"],
  [fill^="url"]
)) {
  fill: currentColor;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут stroke со значением 'none')
 */
:where([stroke]:not(
  [stroke="none"],
  [stroke^="url"]
)) {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Приведение рамок таблиц в классический 'collapse' вид
 */
:where(table) {
  border-collapse: collapse;
  border-color: currentColor;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

:root {
    --color-light: #FFFFFF;
    --color-dark: #212832;
    --color-pink: #df6951
    --color-light-pink: #FFF1DA;
    --color-dark-blue: #181e4b;
    --color-light-blue: #5E6282;

    --font-family-based: 'Poppins', sans-serif;
    --font-family-heading: 'GoogleSans', sans-serif;
    --font-family-footer: 'OpenSans', sans-serif;
    --font-family-accent: 'Volkhov', serif;
    --font-family-mono: 'Montserrat', sans-serif;

    --container-max-width: 1440px;
    --container-padding-width: 15px;
    --transition-duration: 0.3s;
}

body {
    background-color: var(--color-light);
    font-family: var(--font-family-based);
}

.container {
    max-width: calc(var(--container-max-width) + var(--container-padding-width) * 2);
    margin-inline: auto;
}

.header {
  display: flex;
  justify-content: center;
}

.header-nav {
  width: 100%;
  max-width: 1161px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  margin-top: 43px;
  padding-inline: 15px;
  box-sizing: border-box;
}

.header-nav-logo {
  width: 115px;
  height: 34px;
  position: relative;
}

.header-nav-logo-rect {
  position: absolute;
  margin-left: 72px;
  margin-top: 13px;
  z-index: 0;
}

.header-nav-logo-img {
  position: absolute;
  z-index: 1;
}

.header-nav-list{
  display: inline-flex;
  justify-content: space-between;
  gap: 57px;
  align-items: start;
}

.header-nav-menu {
  margin-left: 100px;
}

.header-nav-links {
  color: var(--color-dark);
  font-family: var(--font-family-heading);
  font-size: 17px;
  font-weight: 700px;
  text-decoration: none;
  margin-top: 9px;
  transition-duration: var(--transition-duration);
}

.header-nav-links:hover {
  color: var(--color-light-blue);
}

.header-nav-actions {
  display: flex;
  justify-content: space-between;
  gap: 52px;
  align-items: start;
}

.header-nav-actions-button {
  width: 102px;
  height: 40px;
  background-color: var(--color-light);
  border-radius: 5px;
  border: 1px solid var(--color-dark);
  font-family: var(--font-family-heading);
  font-size: 17px;
  font-weight: 500;
  color: var(--color-dark);
  cursor: pointer;
  transition-duration: var(--transition-duration);
}

.header-nav-actions-button:hover {
  background-color: var(--color-light-blue);
  color: var(--color-light);
  border: 1px solid var(--color-light-blue);
}

.header-nav-sections-lang {
  width: 45px;
  height: 22px;
  font-family: var(--font-family-heading);
  font-size: 17px;
  font-weight: 500;
  color: var(--color-dark);
  cursor: pointer;
  transition-duration: var(--transition-duration);
  border: none;
  margin-top: 9px;
  transition-duration: var(--transition-duration);
  text-transform: uppercase;
}

.header-nav-sections-lang:hover {
  color: var(--color-light);
  background-color: var(--color-light-blue);
  border: 1px solid var(--color-light-blue);
  border-radius: 5px;
}

@media (max-width: 1060px) {
  .header-nav {
    width: 100%;
    flex-wrap: wrap;
    row-gap: 15px;
  }

  .header-nav-menu {
    order: 1;
    flex-basis: 100%;
    margin-left: 0;
  }
}

@media (max-width: 479px) {
  .header-nav {
    width: 100%;
  }

  .header-nav-list {
    flex-wrap: wrap;
    gap: 30px;
  }

  .header-nav-actions {
    gap: 15px;
  }
}

@media (max-width: 388px) {

 .header-nav-action {
  flex-basis: 100%;
  margin-inline: auto;
 }
}

@media (max-width: 380px) {
 .header-nav {
  gap: 30px
 }
 .header-nav-actions{
  margin-inline: auto;
  }

  .header-nav-logo {
  margin-inline: auto;
 }  
 }


@media (max-width: 342px) {
 .header-nav-logo {
  margin-inline: auto;
 }  
 .header-nav-action {
  margin-left: 0;
 }

}
