@font-face {
    font-family: "GoogleSans";
    src: url("./fonts/GoogleSans-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Poppins";
    src: url("./fonts/Poppins-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Poppins";
    src: url("./fonts/Poppins-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Poppins";
    src: url("./fonts/Poppins-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Poppins";
    src: url("./fonts/Poppins-SemiBold.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Volkhov";
    src: url("./fonts/Volkhov-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src: url("./fonts/Montserrat-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "OpenSans";
    src: url("./fonts/OpenSans-SemiBold.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}


/**
  Нормализация блочной модели
 */
*,
::before,
::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure, fieldset):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul,
  ol,
  dl
):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;

  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}


/**
  Упрощаем работу с изображениями и видео
 */
img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
  /**
    Убираем скачок интерфейса по горизонтали
    при появлении / исчезновении скроллбара
   */
  scrollbar-gutter: stable;
  /**
    Плавный скролл
   */
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Нормализация высоты элемента ссылки при его инспектировании в DevTools
 */
a:where([class]) {
  display: inline-flex;
}

/**
  Курсор-рука при наведении на элемент
 */
button,
label {
  cursor: pointer;
}

/**
  Убирает серую подсветку при тапе на мобильных устройствах (iOS/Android)
 */
button {
  -webkit-tap-highlight-color: transparent;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут fill со значением 'none' или начинается с 'url')
 */
:where([fill]:not(
  [fill="none"],
  [fill^="url"]
)) {
  fill: currentColor;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут stroke со значением 'none')
 */
:where([stroke]:not(
  [stroke="none"],
  [stroke^="url"]
)) {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Приведение рамок таблиц в классический 'collapse' вид
 */
:where(table) {
  border-collapse: collapse;
  border-color: currentColor;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

:root {
    --color-light: #FFFFFF;
    --color-dark: #212832;
    --color-pink: #DF6951;
    --color-light-pink: #FFF1DA;
    --color-dark-blue: #181e4b;
    --color-light-blue: #5E6282;

    --font-family-based: 'Poppins', sans-serif;
    --font-family-heading: 'GoogleSans', sans-serif;
    --font-family-footer: 'OpenSans', sans-serif;
    --font-family-accent: 'Volkhov', serif;
    --font-family-mono: 'Montserrat', sans-serif;

    --container-max-width: 1440px;
    --container-padding-width: 15px;
    --transition-duration: 0.3s;
}

body {
    background-color: var(--color-light);
    font-family: var(--font-family-based);
}

.container {
    max-width: calc(var(--container-max-width) + var(--container-padding-width) * 2);
    margin-inline: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.header {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
}

.main {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding-inline: 15px;
  flex-direction: column;
}

.header-nav {
  position: relative;
  z-index: 2;
  width: 100%;
  max-width: 1161px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  margin-top: 43px;
  padding-inline: 15px;
  box-sizing: border-box;
}

.header-nav-logo {
  width: 115px;
  height: 34px;
  position: relative;
}

.header-nav-logo-rect {
  position: absolute;
  margin-left: 72px;
  margin-top: 13px;
  z-index: 0;
}

.header-nav-logo-img {
  position: absolute;
  z-index: 1;
}

.header-nav-list{
  display: inline-flex;
  justify-content: space-between;
  gap: 57px;
  align-items: start;
}

.header-nav-menu {
  margin-left: 100px;
}

.header-nav-links {
  color: var(--color-dark);
  font-family: var(--font-family-heading);
  font-size: 17px;
  font-weight: 500;
  text-decoration: none;
  margin-top: 9px;
  transition-duration: var(--transition-duration);
}

.header-nav-links:hover {
  color: var(--color-light-blue);
}

.header-nav-actions {
  display: flex;
  justify-content: space-between;
  gap: 52px;
  align-items: start;
}

.header-nav-actions-button {
  width: 102px;
  height: 40px;
  background-color: var(--color-light-pink);
  border-radius: 5px;
  border: 1px solid var(--color-dark);
  font-family: var(--font-family-heading);
  font-size: 17px;
  font-weight: 500;
  color: var(--color-dark);
  cursor: pointer;
  transition-duration: var(--transition-duration);
}

.header-nav-actions-button:hover {
  background-color: var(--color-light-blue);
  color: var(--color-light-pink);
  border: 1px solid var(--color-light-blue);
}

.header-nav-sections-lang {
  width: 45px;
  height: 22px;
  font-family: var(--font-family-heading);
  font-size: 17px;
  font-weight: 500;
  color: var(--color-dark);
  cursor: pointer;
  transition-duration: var(--transition-duration);
  border: none;
  margin-top: 9px;
  transition-duration: var(--transition-duration);
  text-transform: uppercase;
  background-color: var(--color-light-pink);
}

.header-nav-sections-lang:hover {
  color: var(--color-light);
  background-color: var(--color-light-blue);
  border: 1px solid var(--color-light-blue);
  border-radius: 5px;
}

.header-main {
  position: relative;
  z-index: 2;
  width: 100%;
  max-width: 1201px;
  height: 764px;
  margin-top: 18px;
  display: flex;
  margin-left: 30px;
  padding-inline: 15px;
  box-sizing: border-box;
  
}

.header-main-content {
  display: flex;
  flex-direction: column;
  position: relative;
}

.header-main-h {
  display: inline-block;
  margin-top: 112px;
  font-weight: 700;
  font-size: 20px;
  color: var(--color-pink);
  text-transform: uppercase;
}

.header-main-h-decor {
  width: 100% ;
  max-width: 545px;
  height: 267px;
  margin-top: 32px;
}

.header-main-content-decore {
  position: absolute;
  margin-left: 259px;
  margin-top: -200px;
  z-index: 0;
}

.header-main-h2 {
  position: relative;
  font-family: var(--font-family-accent);
  font-weight: 700;
  font-size: 84px;
  color: var(--color-dark-blue);
  letter-spacing: -0.04em;
  line-height: 89px;
  word-wrap: break-word;
  z-index: 1;
}

.header-main-p {
  margin-top: 30px;
  width: 100%;
  max-width: 477px;
  height: 90px;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  color: var(--color-light-blue);
}

.header-main-actions {
  display: flex;
  justify-content: center;
  width: 379px;
  height: 60px;
  margin-top: 44px;
  gap: 38px;
  align-items: center;
}

.header-main-actions-button {
  width: 170px;
  height: 60px;
  border-radius: 10px;
  background-color: #F1A501;
  border: none;
  box-shadow: 0 20px 35px rgba(241, 165, 1, 0.15);
  font-family: var(--font-family-heading);
  font-weight: 500;
  font-size: 18px;
  color: var(--color-light);
  cursor: pointer;
  transition-duration: var(--transition-duration);
}

.header-main-actions-button:hover {
  background-color: var(--color-light);
  color: #F1A501;
  border: 1px solid #F1A501;
  box-shadow: 0 20px 40px rgba(241, 165, 1, 0.25);
}

.header-main-link {
  width: 165px;
  height: 52px;
  display: flex;
  gap: 21px;
  align-items: center;
  text-decoration: none;
}

.header-main-play-rect {
  display: inline-block;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background-color: var(--color-pink);
  box-shadow: 0 15px 30px rgba(223, 105, 81, 0.3);
  position: relative;
  z-index: 0;
  transition-duration: var(--transition-duration);
}

.header-main-play-rect:hover {
  background-color: #f8a08f;
  box-shadow: 0 15px 35px rgba(223, 105, 81, 0.4);

}

.header-main-play-img {
  position: absolute;
  margin-left: 22px;
  margin-top: -1px;
  z-index: 1;
}

.header-main-play-name {
  font-weight: 500;
  font-size: 17px;
  width: 92px;
  height: 26px;
  color: #686d77;
  transition-duration: var(--transition-duration);
}

.header-main-play-name:hover {
  color: var(--color-pink);
}

.header-main-img {
  width: 784px;
  height: 764px;
  position: absolute;
  margin-left: 415px;

}

.header-main-img-plane-left {
  margin-left: 135px;
  position:absolute;
  margin-top: 56px;
}

.header-main-img-plane-rigth {
  margin-left: 630px;
  position: absolute;
  margin-top: -661px;
  z-index: 0;
}

.header-decore {
  display: flex;
  position: absolute;
  z-index: 0;
  width: 100%;
  justify-content: space-between;

}

.services {
  width: 100%;
  max-width: 1228px;
  height: 100%;
  min-height: 525px;
  margin-top: 94px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.services-head {
  font-weight: 600;
  font-size: 18px;
  text-transform: uppercase;
  color: var(--color-light-blue);
}

.services-h {
  font-family: var(--font-family-accent);
  font-weight: 500;
  font-size: 50px;
  color: #14183e;
}

.categories {
  width: 100%;
  max-width: 1208px;
  height: 100%;
  min-height: 349px;
  display: flex;
  margin-top: 84px; 
  position: relative;
  z-index: 0;
}

.category {
  width: 308px;
  height: 349px;
  position: relative;
  z-index: 0;
}

.category-card {
  width: 190px;
  height: 227px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-inline: auto;
  margin-top: 5px;
  position: relative;
  z-index: 2;
  background-color: var(--color-light);
  transition-duration: var(--transition-duration);
}

.category-h {
  font-family: var(--font-family-footer);
  font-weight: 600;
  font-size: 20px;
  color: #1E1D4C;
  display: inline-block;
  margin-top: 29px;
}

.card-3 {
  margin-top: 2px;
}

.card-4 {
  margin-top: 11px;
}

.category-p {
  display: inline-block;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: var(--color-light-blue);
  margin-top: 15px;
  text-align: center;
  width: 181px;
  height: 78px;
}

.is-current {
  display: none;
  position: absolute;
  margin-top: 256px;
  z-index: 0;
  margin-left: -15px;
  transition-duration: var(--transition-duration);
}

.category:hover .category-card {
  width: 267px;
  height: 314px;
  border-radius: 36px;
  box-shadow: 0px 100px 80px rgb(0, 0, 0, 0.05);
  margin-top: 0px;
}

.category:hover .is-current {
  display: block;
}

.servises-decore {
  display: flex;
  width: 100%;
  justify-content: end;
  position: absolute;
  max-width: 1228px;
}

.top-selling {
  width: 100%;
  max-width: 1102px;
  height: 100%;
  min-height: 617px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 120px;
}

.subheading {
  font-weight: 600;
  font-size: 18px;
  color: var(--color-light-blue);
}

.destinations {
  margin-top: 60px;
  display: flex;
  gap: 40px;
  position: relative;
}

.destination {
  width: 315px;
  height: 457px;
  position: relative;
  border-radius: 24px;
  transition-duration: var(--transition-duration);
}

.destination:hover {
   box-shadow: 0px 100px 80px rgb(0, 0, 0, 0.05);
}
.destination-card {
  width: 315px;
  height: 130px;
  background-color: var(--color-light);
  position: absolute;
  margin-top: 327px;
  border-radius: 0px 0px 24px 24px;
  box-shadow: 0px 4px 4px rgb(0, 0, 0, 0.25);
}

.dest-card {
  display: inline-block;
  font-weight: 500;
  font-size: 18px;
  line-height: 124.5%;
  color:var(--color-light-blue);
  margin-left: 19px;
  margin-top: 27px;
}

.price {
  margin-left: 120px;
}

.dest-card-days{
  display: flex;
  margin-left: 22px;
  margin-top: 20px;
  gap:16px;
}

.dest-along {
  font-size: 16px;
  margin: 0;
}


.decore-selling{
  position: absolute;
  margin-left: 1060px;
  margin-top: 318px;
}


@media (max-width: 1060px) {
  .header-nav {
    width: 100%;
    flex-wrap: wrap;
    row-gap: 15px;
  }

  .header-nav-menu {
    order: 1;
    flex-basis: 100%;
    margin-left: 0;
  }

 .header-main {
  flex-direction: column;
  align-items: center;
  height: auto;
  flex-wrap: wrap;

 }

 .header-main-img-plane-left {
  display: none;
 }
 .header-main-img-plane-rigth {
  display: none;  
 }

 .header-main-img-tourist {
  display: none;
 }

 .header-main-content {
  justify-content: center;
  flex-wrap: wrap;
 }

}


@media (max-width: 600px) {
  
  .header-main-h2{
    font-size:70px;
  }
}

@media (max-width: 505px) {
  .header-main-p{
    margin-top: 100px;
  }

  .header-main-content-decore{
    display: none;
 }

 .header-decore {
  display: none;
 }
 
 .categories {
  flex-wrap: wrap;
 }

 .destinations {
  flex-wrap: wrap;
}

}

@media (max-width: 479px) {
  .header-nav {
    width: 100%;
  }

  .header-nav-list {
    flex-wrap: wrap;
    gap: 30px;
  }

  .header-nav-actions {
    gap: 15px;
  }
 
}

@media (max-width: 388px) {

 .header-nav-action {
  flex-basis: 100%;
  margin-inline: auto;
 }


}

@media (max-width: 380px) {
 .header-nav {
  gap: 30px
 }
 .header-nav-actions{
  margin-inline: auto;
  }

  .header-nav-logo {
  margin-inline: auto;
 }  

 .header-main-h{
  margin-top: 200px;
 }
 }


@media (max-width: 342px) {
 .header-nav-logo {
  margin-inline: auto;
 }  
 .header-nav-action {
  margin-left: 0;
 }

}
